* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




a {
    color: black;
    text-decoration: none;
    transition: ease-in;
}

a:hover {
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
}


header {
    background-color:#987654;
    width: 100vw;
}

header {
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    float: right;
    position: fixed;
}

#header-img {
    float: left;
    margin-left: 50px;
}


#form {
    display: flex;
    flex-direction: column;
}

.product-descriptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 250px;
    padding: 10px;
}

.materials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

i {
    color: #98fb98;
    font-size: 40px;
    margin-top: 10px;
}


.sub-description {

    text-align: left;
}

p {
    margin-top: 15px;
}


section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(80% / 3);
    height: 25vh;
    margin-top: 220px;
    color: white;
    margin-left: 15px;
    border: 3px solid #000;
    background-color:#987654;
    border-radius: 3px;
   transition: all .2s ease-in-out; 
}
.product:hover { transform: scale(1.1); }

.level {
    background-color: black;
    width: 100%;
    padding: 15px;
}

li {
    width: 10px;
}

h2 {
    margin-top: 20px;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: right;
}



#hero-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

input {
    width: 20vw;
    padding: 10px;
    margin: 10px;

}

#submit {
    padding: 10px;
    color: white;
    background-color: #98fb98;
    border: 2px solid black;
}


.video-container {
    display: flex;
    justify-content: center;
}


#select {
    width: 20vw;
    padding: 5px;
     color:black;
    background-color: rgb(150, 150, 12);
    border: 2px solid rgb(150, 150, 12); 
    margin: 10px;
}

.nav-link {
    margin-left: -20px;
}